body {
    height: 100%;   /* Needed for modal-overlay so modal-overlay is 100% even if scrolling down. */
}

.dataList { display:block; float:left margin: 0; padding: 0; }

.dataList li{ float: left; }

#dataListUsers    { width: 575px;  margin-left: 50px; background: white; overflow: hidden; padding: 3px; }
#dataListGarments { width: 1000px; margin-left: 50px; background: white; overflow: hidden; padding: 3px; }
#dataListMotifs   { width: 800px;  margin-left: 50px; background: white; overflow: hidden; padding: 3px; }

.dataList dl{
    height: 18px;
    float: left;
	padding-top: 5px;
    padding-bottom: 5px;
	position: relative;
    background: #ffffff;
	border-top: 1px solid #cfcfcf; border-left: 1px solid transparent; border-right: 1px solid transparent;
    border-style: dotted;
	margin: 0;

}
.dataList li:last-child dl { border-bottom: 1px solid #cfcfcf; border-style: dotted;}    /* Give last item a bottom border */
/*.dataList .aole-expanded { border-left: 1px solid #cfcfcf; border-right: 1px solid #cfcfcf; } */

#dataListUsers .aol-edit { width: 530px; background: white; }

.dataList li dl:hover {
    background: #eee;
    cursor:pointer;
}


.dataList dt {
	float:left;
	display: block;
	padding-left: 115px;
	width: 190px;
	margin: 0;
    font-size: 80%;
}

.dataList dd {
	float:left;
	display: block;
	margin: 0;
    font-size: 80%;
    text-overflow: ellipsis;
	overflow: hidden;
    white-space: nowrap;
}
.dl-expand {
    background: url('/static/images/vr/arrow_close.png') no-repeat 0 0;
}
.dl-contract {
    background: url('/static/images/vr/arrow_open.png') no-repeat 0 0;
}


.aol-edit { padding: 10px; border-left: 1px solid transparent; border-right: 1px solid transparent;background: white;}

.user-actions { position: relative; padding-left: 10px; top: -4px; width:58px; }
.user-actions span { float: left;  position: relative;  left: 0px; }

.user-action-edit { background: url('/static/images/vr/icon-aol-edit.png') no-repeat 0 0; }
.user-action-edit:hover { background: url('/static/images/vr/icon-aol-edit-hover.png') no-repeat 0 0; }
.user-action-edit.active { background: url('/static/images/vr/icon-aol-edit-active.png') no-repeat 0 0; }

.user-action-delete {	background: url('/static/images/vr/icon-aol-delete.png') no-repeat 0 0; }
.user-action-delete:hover { background: url('/static/images/vr/icon-aol-delete-hover.png') no-repeat 0 0; }
.user-action-delete.active { background: url('/static/images/vr/icon-aol-delete-active.png') no-repeat 0 0; }

.user-action-edit, .user-action-delete {  cursor: pointer;  width: 28px;  height: 27px;  display: block; }

.modal-overlay {
    z-index: 99999;
    position: fixed;
    left: 0px; top: 0px;
    width: 100%; height: 100%;
    background: #000000;
    opacity: .5;
}
.modal-dialog {
    z-index: 999999;
    position: absolute;
    box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
    border-radius: 3px;
    width: 430px;
    height: 230px;
    margin: auto;
    left:0; right:0;top:0; bottom:0;
    background: white;
}
#edit_user .modal-dialog {
    width: 430px;
    height: 230px;
}

.modal-dialog-close { position: absolute; width: 16px; height: 16px; right: 4px; top: 5px; background: url('/static/images/steve/modal_dialog_close.png') no-repeat; }
.modal-dialog-close:hover {background: url('/static/images/steve/modal_dialog_close_hover.png') no-repeat;}
.modal-dialog-title { font-size: 100%;
    background: #eee;
    padding: 4px;
    border-bottom: 1px solid #cfcfcf
}
.modal-dialog-content { margin-top: 0; font-size: 80%; padding: 10px;}
