#layout-topbar{background:#f1f1f1;border-bottom:1px solid lightgrey;overflow:auto;font-size:85%;min-width:700px;padding: 5px;}
#layout-topbar label{display: inline-block;}
#lt-language{float:left;cursor: default;}
#lt-admin{float:left;cursor: default;padding-left: 20px;}

#lt-user{float:right;cursor: default; }

.layout-popup {z-index: 999999; background:#fff;border:1px solid #ccc;box-shadow: 0 2px 10px rgba(0,0,0,.2);visibility:hidden;position:absolute;border-radius:2px;font-size:90%;}
#popup-info-container {padding:10px;max-width:180px;min-width:50px;}

#popup-language-container {padding: 6px 0 6px 0;}
#popup-language-container li:hover {background-color:#f1f1f1;cursor:pointer;}

#popup-user-container {padding:0;min-width:225px;}
#puc-detail {padding: 6px 6px 10px 6px;}

#puc-control-container {background:#f5f5f5; border-top: 1px solid #ccc;}
#puc-control {padding:6px;}

.popup-arrow-left-top {
    content: "";
    background: #fff;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    position: absolute;
    left: -6px;
    top: 12px;
    width: 9px;
    height: 9px;
    -webkit-transform:  rotate(-45deg);
    -moz-transform:     rotate(-45deg);
    -ms-transform:      rotate(-45deg);
    -o-transform:       rotate(-45deg);
    transform:          rotate(-45deg);
}
.popup-arrow-top-left {
    content: "";
    background: #fff;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    position: absolute;
    left: 12px;
    top: -6px;
    width: 9px;
    height: 9px;
    -webkit-transform:  rotate(45deg);
    -moz-transform:     rotate(45deg);
    -ms-transform:      rotate(45deg);
    -o-transform:       rotate(45deg);
    transform:          rotate(45deg);
}
.popup-arrow-top-right {
    content: "";
    background: #fff;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    position: absolute;
    right: 12px;
    top: -6px;
    width: 9px;
    height: 9px;
    -webkit-transform:  rotate(45deg);
    -moz-transform:     rotate(45deg);
    -ms-transform:      rotate(45deg);
    -o-transform:       rotate(45deg);
    transform:          rotate(45deg);
}
.drop-down-arrow {
    border-top: 4px solid black;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    display: inline-block;
    margin-left: 4px;
    vertical-align: middle;
}


.plc-item {white-space: nowrap;padding-left: 25px;padding-right:18px;}
.plc-item-checked {background: url('/static/images/steve/checkmark.png') no-repeat left center;}


