#main-container {
    margin: 3px;
    /*background-color: lightsteelblue;*/
    min-width: 700px;
}

#mc-tools {margin: 0 3px 0 0;float:left;border: solid lightgrey 1px;background-color: white; width: 200px; height: 300px;}

#mc-canvas {
    width:auto;
    margin: 0;border: solid lightgrey 1px;background-color: white;}