{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/mvc/garments.js') }}"></script>
{% endblock %}

{% block content %}

    {% include "admin_menu.html" %}

    <section id="garments">
        <div id="garmentsList">
        </div>
    </section>


    {% raw %}
    <script id="templateGarmentItems" type="text/x-jsrender">
        <ul id="dataListGarments" class="dataList">
		{{for garments}}
			<li id="item{{:id}}">
				<dl>
					<dt style="padding-left:10px;margin-left:0;width:25px;">{{:id}}</dt>
					<dd style="padding-left:0px;width:150px;">{{:name}}</dd>
					<dd style="padding-left:0px;width:200px;">{{:url_small}}</dd>
					<dd style="padding-left:0px;width:200px;">{{:url_medium}}</dd>
					<dd class="user-actions" style="padding-left:0px;width:58px;">
						<span id="edit_{{:id}}" class="user-action-edit" onclick="controller.renderEdit({{:id}})"></span>
						<span id="delete_{{:id}}" class="user-action-delete" onclick="controller.renderDelete({{:id}})"></span>
					</dd>
				</dl>
			</li>
		{{/for}}
	</ul>
    </script>
    {% endraw %}

{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        controller = new GarmentsController();
        controller.index();
    </script>

{% endblock %}