{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/mvc/administration_mvc.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mvc/garments.js') }}"></script>
{% endblock %}

{% block content %}

    {% include "admin_menu.html" %}

    <section id="garments">
        <div id="garmentsList">
        </div>
    </section>


    {% raw %}
    <script id="templateGarmentItems" type="text/x-jsrender">
        <ul id="dataListGarments" class="dataList">
		{{for garments}}
			<li id="item{{:id}}">
				<dl>
				    <dd style="padding-left:0px;width:4px;top:-5px;height:28px;position:relative;">&nbsp</dd>
				    <dd style="padding-left:10px;width:25px;">
                        <input name="your_name" value="your_value" type="checkbox">
				    </dd>
					<dt style="padding-left:0px;margin-left:0;width:25px;">{{:id}}</dt>
					<dd style="padding-left:10px;width:150px;">{{:name}}</dd>
					<dd style="padding-left:10px;width:250px;">{{:url_small}}</dd>
					<dd style="padding-left:10px;width:250px;">{{:url_medium}}</dd>
					<dd class="user-actions">
						<span id="edit_{{:id}}" class="user-action-edit" onclick="controller.renderEdit({{:id}})"></span>
						<span id="delete_{{:id}}" class="user-action-delete" onclick="controller.renderDelete({{:id}})"></span>
					</dd>
				</dl>
			</li>
		{{/for}}
	</ul>
    </script>

    <script id="templateGarmentEdit" type="text/x-jsrender">
        <li rel="{{:item.id}}" class="aol-edit active">
            <div><label for="name">{% endraw %}{{ _('Name') }}{% raw %}</label><input type="text" placeholder="{% endraw %}{{ _('Name') }}{% raw %}" id="name" value="{{:item.name}}" maxlength="255"></div>
            <div><label for="url_small">{% endraw %}{{ _('Url Small') }}{% raw %}</label><input type="text" placeholder="{% endraw %}{{ _('Url Small') }}{% raw %}" id="url_small" value="{{:item.url_small}}" maxlength="255"></div>
            <section id="aole-edit-actions" class="aole-grid" style="min-height:51px;">
                <p>
                    <span class="aea-cancel" style="top:0px;" onclick="controller.removeEditDeleteRows();">{% endraw %}{{ _('Cancel') }}{% raw %}</span>
                    <a id="save_{{:item.id}}" class="bluebutton aea-save" onclick="controller.save({{:item.id}})">{% endraw %}{{ _('Save') }}{% raw %}</a>
                </p>
            </section>
        </li>
    </script>

    {% endraw %}

{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        controller = new GarmentsController();
        controller.index();
    </script>

{% endblock %}