<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>MyTestProject</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/steve/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vr.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}"/>

    <!--Add css for specific pages-->
    {% block css %}{% endblock %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mvc/layout.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jsrender.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/MyRest.js') }}"></script>

    <!--Add js for specific pages-->
    {% block js %}{% endblock %}
</head>
<body>

<div id="layout-topbar">
    <div id="lt-language" onclick="layout_controller.popupLanguageRender(this, event)">
        <div id="ltl-name">
            <span id="ltln-language">{{_(session['language'])}}</span>
            <span id="ltl-drop-down" class="drop-down-arrow"></span>
        </div>
    </div>

    {% if user %}
        <div id="lt-user" onclick="layout_controller.popupUserRender(this, event)">
            <div id="ltu-name">
                <span id="ltun-user">{{ user.id }}</span>
                <span id="ltu-drop-down" class="drop-down-arrow"></span>
            </div>
        </div>
    {% endif %}

</div>

<div id="popup-info-container" class="layout-popup">
    <span class="popup-arrow-left-top"></span>
    <div>a popup message goes here.</div>
</div>

<div id="popup-language-container" class="layout-popup">
    <span class="popup-arrow-top-left"></span>
    <div id="plc-list">
        <ul>
            <!-- Sort on Language value, Note:- after a dictsort, language becomes a tuple -->
            {% for language in settings.i18N.LANGUAGES|dictsort(true, 'value') %}
                {% if language[0] == session['language']  %}
                    <li id="plc-item:{{ language[0] }}" class="plc-item plc-item-checked" onclick="layout_controller.changeLanguage('{{ language[0] }}')">{{ language[1] }}</li>
                {% else %}
                    <li id="plc-item:{{ language[0] }}" class="plc-item" onclick="layout_controller.changeLanguage('{{ language[0] }}')">{{ language[1] }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

<div id="popup-user-container" class="layout-popup">
    <span class="popup-arrow-top-right"></span>
    <div>user data goes here so there.</div>
</div>

{% block content %}{% endblock %}

<script type="text/javascript">

    layout_controller = new LayoutController();

    document.onclick = function () {
        layout_controller.popupsRemoveAll();
    }

    window.onresize = function() {
        layout_controller.popupsRemoveAll();
    }

</script>

{% block scripts %}{% endblock %}

</body>
</html>