<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>layout template used for all html pages.</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vr.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}"/>

    <!--Add css for specific pages-->
    {% block css %}{% endblock %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mvc/layout.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jsrender.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/MyRest.js') }}"></script>

    <!--Add js for specific pages-->
    {% block js %}{% endblock %}
</head>
<body>

<div id="layout-topbar">
    <div id="lt-language" onclick="layout_controller.popupLanguageRender(this, event)">
        <div id="ltl-name">
        <span id="ltln-language">{{_(session['language'])}}</span>
        <span id="ltl-drop-down"></span>
        </div>
    </div>
</div>

<div id="popup-info-container" class="layout-popup">
    <span id="pic-arrow-left-top"></span>
    <div>a popup message goes here.</div>
</div>

<div id="popup-language-container" class="layout-popup">
    <span id="pic-arrow-top-left"></span>
    <div id="plc-list">LanguageTestTemplate gets rendered in here.</div>
</div>

{% raw %}
<script id="LanguageTestTemplate" type="text/x-jsrender">
    <ul>
        {{for languages}}
            {{if id == "{% endraw %}{{ session['language'] }}{% raw %}"}}
                {{!-- Check the currently selected language --}}
                <li id="plc-item:{{:id}}" class="plc-item plc-item-checked" onclick="layout_controller.changeLanguage('{{:id}}')">{{:value}}</li>
            {{else}}
                <li id="plc-item:{{:id}}" class="plc-item" onclick="layout_controller.changeLanguage('{{:id}}')">{{:value}}</li>
            {{/if}}
        {{/for}}
    </ul>
</script>
{% endraw %}


{% block content %}{% endblock %}

<script type="text/javascript">
    //executed when the page is loaded
    jQuery(window).load(function () {
        layout_controller = new LayoutController();
        layout_controller.index();

        document.onclick = function () {
            layout_controller.popupsRemoveAll();
        }

    });

    /*
    window.onresize = function() {
        layout_controller.popupsRemoveAll();
    }
    */
</script>

{% block scripts %}{% endblock %}

</body>
</html>