{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/mvc/login.js') }}"></script>
{% endblock %}

{% block content %}

    <div id="lc-input">
        <form method="POST" action="{{ url_for('login') }}">

            {% if get_flashed_messages() %}
                <div id="lci-error">
                    {{ get_flashed_messages()[0] }}
                </div>
            {% else %}
                <div id="lci-title">
                    Sign in to Steve's Test Project
                </div>
            {% endif %}

            <div id="lci-username">
                <input type="text" name="email" id="lci-email" autofocus="autofocus" placeholder="Username">
                <span class="popup-info" onclick="layout_controller.popupInfoRender(this, event)">
                    <img src="{{ url_for('static', filename='images/steve/info.png') }}"/>
                    <span>This is the username, usually an email address.</span>
                </span>
            </div>

            <div id="lci-password">
                <input type="password" name="password" id="lci-password" placeholder="Password">
                <span class="popup-info" onclick="layout_controller.popupInfoRender(this, event)">
                    <img src="{{ url_for('static', filename='images/steve/info.png') }}">
                    <span>This is the password for the above user.</span>
                </span>
            </div>

            <div id="lci-submit-row">
                <a href="#" class="bluebutton" onclick="event.preventDefault(); document.forms[0].submit();">Sign In</a>
            </div>

            <a href="{{ url_for('forgotpassword') }}" id="lci-forgotten" class="font-90" >Forgotten your sign-in details?</a>
        </form>
    </div>

{% endblock %}

{% block scripts %}

    <script type="text/javascript">
    //executed when the page is loaded
    //jQuery(window).load(function () {
        login_controller = new LoginController();
    //});

</script>

{% endblock %}