{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/motif.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mvc/main.js') }}"></script>
{% endblock %}

{% block content %}

    <div id="main-container">

        <div id="mc-tools">
            <div id="mct-shirts">
                <div id="mcts-title">
                    <span id="mcts-colour-title"><strong>{{_('Colour: ')}}</strong></span>
                    {% for shirt in tools.shirts.list %}
                        {% if shirt.id == tools.shirts.selected %}
                            <span id="mcts-colour">{{ shirt.name }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
                <ul id="mcts-list">
                    {% for shirt in tools.shirts.list %}
                        <li id="id_{{ shirt.id }}" title="{{_('Click to select ')}}{{ shirt.name }}" onclick="controller.garmentThumbnailClick(this);">
                            {% if shirt.id == tools.shirts.selected %}
                                <img src="{{ shirt.url_small }}"
                                     data-img-medium="{{ shirt.url_medium }}"
                                     data-displayname="{{ shirt.name }}"
                                     class="selected-img">
                            {% else %}
                                <img src="{{ shirt.url_small }}"
                                     data-displayname="{{ shirt.name }}"
                                     data-img-medium="{{ shirt.url_medium }}">
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div id="mct-motifs">
                <ul id="mctm-list">
                    {% for motif in tools.motifs.list %}
                        <li id="id_{{ motif.id }}" title="{{_('Click to select ')}}{{ motif.name }}" onclick="controller.motifThumbnailClick(this);">
                            <img src="{{ motif.url }}" data-displayname="{{ motif.name }}">
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <canvas id="mc-canvas" width="520" height="520">
		    {{_('Canvas not supported')}}
	    </canvas>


    </div>

{% endblock %}

{% block scripts %}

    <script type="text/javascript">

        // work out the selected garment
        var selected;
        {% for shirt in tools.shirts.list %}
            {% if shirt.id == tools.shirts.selected %}
                selected = "{{ shirt.url_medium }}";
            {% endif %}
        {% endfor %}

        // initialise the canvas with the selected garment
        controller = new MainController();
        controller.index(selected);

    </script>

{% endblock %}