{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
{% endblock %}

{% block js %}
     <script type="text/javascript" src="{{ url_for('static', filename='js/main-canvas.js') }}"></script>
{% endblock %}

{% block content %}

    <div id="main-container">

        <div id="mc-tools">&nbsp;</div>


        <canvas id="mc-canvas" width="490" height="300">
		    Canvas not supported
	    </canvas>
    </div>

{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        //initialise_canvas();
        maincanvas = new MainCanvas();
        maincanvas.initialise_canvas();
    </script>

{% endblock %}