{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/motif.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mvc/main.js') }}"></script>
{% endblock %}

{% block content %}

    <div id="main-container">

        <div id="mc-tools">
            <div id="mct-shirts">
                <div id="mcts-title">
                    <span id="mcts-colour-title"><strong>{{_('Colour: ')}}</strong></span>
                    {% for shirt in tools.shirts.list %}
                        {% if shirt.id == tools.shirts.selected %}
                            <span id="mcts-colour">{{ shirt.display_name }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
                <ul id="mcts-list">
                    {% for shirt in tools.shirts.list %}
                        <li id="id_{{ shirt.id }}" title="{{_('Click to select ')}}{{ shirt.display_name }}" onclick="controller.garmentThumbnailClick(this);">
                            {% if shirt.id == tools.shirts.selected %}
                                <img src="{{ shirt.img_small }}"
                                     data-img-medium="{{ shirt.img_medium }}"
                                     data-displayname="{{ shirt.display_name }}"
                                     class="selected-img">
                            {% else %}
                                <img src="{{ shirt.img_small }}"
                                     data-displayname="{{ shirt.display_name }}"
                                     data-img-medium="{{ shirt.img_medium }}">
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <a href="#" id="mc-add-motif" class="bluebutton" onclick="controller.motifAddDummy(event);">{{_('Add Dummy Image')}}</a>
            <a href="#" id="mc-draw-svg" class="bluebutton" onclick="controller.drawSVG(event);">{{_('Draw SVG')}}</a>
        </div>

        <canvas id="mc-canvas" width="520" height="520">
		    {{_('Canvas not supported')}}
	    </canvas>


    </div>

{% endblock %}

{% block scripts %}

    <script type="text/javascript">

        // work out the selected garment
        var selected;
        {% for shirt in tools.shirts.list %}
            {% if shirt.id == tools.shirts.selected %}
                selected = "{{ shirt.img_medium }}";
            {% endif %}
        {% endfor %}

        // initialise the canvas with the selected garment
        controller = new MainController();
        controller.index(selected);

    </script>

{% endblock %}