{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/mvc/motifs.js') }}"></script>
{% endblock %}

{% block content %}

    {% include "admin_menu.html" %}

    <section id="motifs">
        <div id="motifsList">
        </div>
    </section>


    {% raw %}
    <script id="templateMotifItems" type="text/x-jsrender">
        <ul id="dataListMotifs" class="dataList">
		{{for motifs}}
			<li id="item{{:id}}">
				<dl>
				<dd style="padding-left:10px;width:25px;">
                        <input name="your_name" value="your_value" type="checkbox">
				    </dd>
					<dt style="padding-left:0px;margin-left:10;width:25px;">{{:id}}</dt>
					<dd style="padding-left:10px;width:200px;">{{:name}}</dd>
					<dd style="padding-left:10px;width:400px;">{{:url}}</dd>
					<dd class="user-actions">
						<span id="edit_{{:id}}" class="user-action-edit" onclick="controller.renderEdit({{:id}})"></span>
						<span id="delete_{{:id}}" class="user-action-delete" onclick="controller.renderDelete({{:id}})"></span>
					</dd>
				</dl>
			</li>
		{{/for}}
	</ul>
    </script>
    {% endraw %}

{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        controller = new MotifsController();
        controller.index();
    </script>

{% endblock %}