{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/motif.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mvc/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jsrender.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/MyRest.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mvc/users.js') }}"></script>
{% endblock %}

{% block content %}

    {% include "admin_menu.html" %}

    <section id="users">
        <div id="usersList">
            blag
        </div>
    </section>



        <script id="templateUserItems" type="text/x-jsrender">
            <div>
                Hello - I am users.
            </div>
        </script>


{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        controller = new UsersController();
        controller.index();
    </script>

{% endblock %}