{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/mvc/administration_mvc.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mvc/users2.js') }}"></script>
{% endblock %}

{% block content %}

    <div id="content">
        {% include "admin_menu.html" %}

        <section id="users">
            <div id="usersList">
            </div>
        </section>
    </div>
    <div id="edit_user">

    </div>

    {% raw %}
    <script id="templateUserItems" type="text/x-jsrender">
        <ul id="dataListUsers" class="dataList">
		{{for users}}
			<li id="item{{:id}}">
				<dl>
				    <dd style="padding-left:5px;width:25px;">
                        <input name="your_name" value="your_value" type="checkbox">
				    </dd>
					<dt style="padding-left:0px;margin-left:0;width:25px;">{{:id}}</dt>
					<dd style="padding-left:10px;width:218px;">{{:name}}</dd>
					<dd style="padding-left:10px;width:212px;">{{:email}}</dd>
					<dd class="user-actions">
					    <span id="edit_{{:id}}" class="user-action-edit" onclick="controller.renderEdit(event, {{:id}})"></span>
						<span id="delete_{{:id}}" class="user-action-delete" onclick="controller.renderDelete(event, {{:id}})"></span>
					</dd>
				</dl>
			</li>
		{{/for}}
	</ul>
    </script>


    <script id="templateUserEdit" type="text/x-jsrender">
        <div class="modal-overlay">
            <div class="modal-dialog">
                <div class="modal-dialog-close" onclick="controller.cancelUserEdit(event)"></div>
                <div class="modal-dialog-title">{% endraw %}{{ _('Edit User') }}{% raw %}</div>
                <div class="modal-dialog-content">
                    <div><label for="name">{% endraw %}{{ _('Name') }}{% raw %}</label><input type="text" placeholder="{% endraw %}{{ _('Name') }}{% raw %}" id="name" value="{{:item.name}}" maxlength="255"></div>
                    <div><label for="email">{% endraw %}{{ _('Email') }}{% raw %}</label><input type="text" placeholder="{% endraw %}{{ _('Email') }}{% raw %}" id="email" value="{{:item.email}}" maxlength="255"></div>
                </div>
            </div>
        </div>
    </script>

    <script id="templateUserEditOld" type="text/x-jsrender">
        <div class="modal-overlay">
            <li rel="{{:item.id}}" class="aol-edit active">
                <div class="modal-dialog-close" onclick="controller.cancelUserEdit(event)"></div>
                <div class="modal-dialog-title">{% endraw %}{{ _('Edit User') }}{% raw %}</div>
                <div class="modal-dialog-content">
                    <div><label for="name">{% endraw %}{{ _('Name') }}{% raw %}</label><input type="text" placeholder="{% endraw %}{{ _('Name') }}{% raw %}" id="name" value="{{:item.name}}" maxlength="255"></div>
                    <div><label for="email">{% endraw %}{{ _('Email') }}{% raw %}</label><input type="text" placeholder="{% endraw %}{{ _('Email') }}{% raw %}" id="email" value="{{:item.email}}" maxlength="255"></div>
                </div>
            </li>
        </div>
    </script>

    <script id="adminDelete" type="text/x-jsrender">
        <li class="aol-edit aactive red">
            <div class="aole-gutter">
                <p class="aole-info"><strong>{% endraw %}{{ _('Delete user') }}{% raw %}?</strong></p>
                <p class="aole-button aole-delete"><span class="aole-cancel" onclick="controller.removeEditDeleteRows();">{% endraw %}{{ _('Cancel') }}{% raw %}</span><a href="#" class="redbutton" onclick="controller.remove({{:itemid}})">{% endraw %}{{ _('Delete') }}{% raw %}</a></p>
            </div>
        </li>
    </script>
    {% endraw %}

{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        controller = new UsersController();
        controller.index();
    </script>

{% endblock %}