{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/mvc/users.js') }}"></script>
{% endblock %}

{% block content %}

    {% include "admin_menu.html" %}

    <section id="users">
        <div id="usersList">
        </div>
    </section>


    {% raw %}
    <script id="templateUserItems" type="text/x-jsrender">
        <ul id="dataListUsers" class="dataList">
		{{for users}}
			<li id="item{{:id}}">
				<dl>
				    <dd style="padding-left:10px;width:25px;">&nbsp</dd>
				    <dd style="padding-left:10px;width:25px;">
                        <input name="your_name" value="your_value" type="checkbox">
				    </dd>
					<dt style="padding-left:0px;margin-left:0;width:25px;">{{:id}}</dt>
					<dd style="padding-left:10px;width:200px;">{{:name}}</dd>
					<dd style="padding-left:10px;width:200px;">{{:email}}</dd>
					<dd class="user-actions">
						<span id="edit_{{:id}}" class="user-action-edit" onclick="controller.renderEdit({{:id}})"></span>
						<span id="delete_{{:id}}" class="user-action-delete" onclick="controller.renderDelete({{:id}})"></span>
					</dd>
				</dl>
			</li>
		{{/for}}
	</ul>
    </script>
    {% endraw %}

{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        controller = new UsersController();
        controller.index();
    </script>

{% endblock %}